# Verzija: 3.1 | Cloud deployment | Popravka instalacije
streamlit==1.45.0
pypdf
python-docx
langchain-text-splitters
supabase
sentence-transformers
torch --index-url https://download.pytorch.org/whl/cpu
groq
python-dotenv